<div class="main">
  <h1>Feature FLAGS</h1>

  <mat-form-field appearance="outline">
    <mat-label>Identifier</mat-label>
    <input (ngModelChange)="identifierChanged($event)" matInput [(ngModel)]="identifier"  name="identifier"  placeholder="Identifier">
  </mat-form-field>


  <label class="align-left">Select environment</label>
  <mat-radio-group (ngModelChange)="environmentChanged($event)" [(ngModel)]="sdkKey" aria-label="environment">
    <mat-radio-button color="primary" [value]="prodKey">Production</mat-radio-button>
    <mat-radio-button color="primary" [value]="testKey">Test</mat-radio-button>
  </mat-radio-group>

  <table>
    <thead>
      <th class="align-left">Name</th>
      <th class="align-center">Value</th>
    </thead>
    <tbody>
      <ng-container *ngIf="allToggles$ | async as toggles">
        <tr *ngFor="let toggle of toggles">
          <td class="align-left">{{ toggle.settingKey }}</td>
          <td class="align-center">

            <ng-container *ngIf="typeOfToggle(toggle.settingValue) === 'boolean'">
              <mat-slide-toggle color="primary" [checked]="toggle.settingValue" [disabled]="true">
              </mat-slide-toggle>
            </ng-container>

            <ng-container *ngIf="typeOfToggle(toggle.settingValue) === 'string'">
              <span>{{ toggle.settingValue}}</span>
            </ng-container>



            <ng-container *ngIf="typeOfToggle(toggle.settingValue) === 'number'">
              <span>{{ toggle.settingValue}}</span>
            </ng-container>


          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>

  <ng-template #noToggles>
    <tr>
      <td colspan="2">No toggles added</td>
    </tr>
  </ng-template>
</div>